<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>My 11th Nugget</title>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Raleway&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bebas+Neue|Lobster&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="/css/styles.css"> -->
  <link rel="stylesheet" href="/css/compiledStyles.css">

  <link rel='icon' href='images/koala.png' type='image/x-icon'/ >

  <!-- <nav>
    <div class="codepen-nav">
      <div class="logo">
        <h1 class="logo-text">My 11th Nugget</h1>
      </div>
      <a href="/html/" class="button nav-button">HTML</a>
      <a href="/css/" class="button nav-button">CSS</a>
      <a href="/js/" class="button nav-button">JavaScript</a>
      <a href="/jquery/" class="button nav-button">jQuery</a>
    </div>
  </nav> -->

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <!-- Applied button styling to branding below -->
        <!-- <p class="navbar-brand button nav-button">My 11th Nugget</p>  -->
        <p class="navbar-brand">My 11th Nugget<span class="fullstop">.</span> </p> 
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/" class="button nav-button">HOME</a></li>
          <li id="our-song"><a href="/our-song" class="button nav-button">OUR SONG</a></li>
          <li id="compose"><a href="/compose" class="comp-button nav-comp-button">COMPOSE</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container-body">
