<%- include("partials/header"); -%>

<div class="our-song-container">

    <h1>Our Song</h1>

<!-- <p>This is a special page that I would like to dedicate to a project that we can build together. We have always joked about writing a song together, and that gave me an idea. </p>
<p>Every song is made up of a whole lot of different elements, put together one at a time - from a beat to a chord progression, melody, lyrics, etc. </p>
<p>Each song is also made up of different parts - intro, verse, chorus, etc.</p>
<p>Every month on the 27th, starting from January, we are going to use this website to create one element of a song. I will upload a whole lot of options for a certain element of the song, and you can either pick one, or give me some kind of feedback.</p>
<p>At the end of the year, we will have effectively written a song together - you and I, from across the globe.</p> -->

<p> Today is step 2. Frick yeah, look at us.</p>

<p> As I mentioned last time: </p>

<p>The thing with songwriting is that there are no rules, and there are so many ways that you can approach it. Although that is often a good thing, it does make planning this whole project a little tricky.</p>

<p>And so, I have tried to plan this out in such a way that it will leave room for us to change our mind about our approach if we would like, and also it will fit in with the way that I normally write songs. </p>

<p>The process will look roughly like this:</p>

<ul>
  <li>Chord progressions</li>
  <li>Style </li>
  <li>Melody</li>
  <li>Beat</li>
</ul>

<p>And from there, we can find our way once we have a better idea of what the song will sound like </p>

<p>Finally we will finish off with lyrics.</p>

<p><b>Today we're looking at step 2: Style</b></p>

<p>You picked two chord progressions last time, and so I worked with both and tried them on some different instruments and picked my favourites. Obviously these are really rough - just to pick a sort of direction, and we can go from there. Let me know which one you like, or if you like a combo of more than one, or if you have any ideas of your own!</p>

<p><a href="https://soundcloud.com/brandon-holz-3/sets/month-2-style/s-OJuVW">Take a listen here</a></p>

</div>


<%- include("partials/footer"); -%>
