$bgcolors:#7cd4d4, #e2df45, #e8afbb, #8bc3e5;
$keycolor:#03384b;
$subcolor:#f9f6f1;

$maincolor: #3fc1c9;
$accentcolor: #fc5185;
$lightcolor: #f5f5f5;
$textcolor: #364f6b;
@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap');

@import url('https://fonts.googleapis.com/css?family=Montserrat:900i&display=swap');

html {
    min-height: 100%;
    position: relative;
  }
  
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
      /* Brandon */
    //   background-color: #cbf1f5;
      background: #7cd4d4 url(http://www.graphicartsunit.com/images/noise.png);
      /* color: #f0f5f9; */
  }
  
  /* .navbar-nav  li a:hover {
      color: #1abc9c !important;
  } */
  
  .footer-padding {
      padding-bottom: 60px;
  }
  
  .footer {
      position: absolute;
      text-align: center;
      bottom: 0;
      width: 100%;
      height: 60px;
      /* background-color: #1abc9c; */
    background-color: #1e2022;
  }
  
  .footer p {
      margin-top: 25px;
      font-size: 12px;
    color: #fff;
  }
  
  /* Brandon code */

  .button {
    //font-family: lato,sans-serif; //come back
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 0.1em;
    text-decoration: none;
    color: $textcolor;
    display: inline-block;
    padding: 10px 20px 10px 20px;
    position: relative;
    border: 3px solid $textcolor;
    margin-left: 20px;
    margin-right: 5px;
    &:before {
      border: 3px solid $subcolor;
      background: url(http://www.graphicartsunit.com/images/noise2.png);
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }

  .comp-button {
    //font-family: lato,sans-serif; //come back
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 0.1em;
    text-decoration: none;
    color: $textcolor;
    display: inline-block;
    padding: 10px 20px 10px 20px;
    position: relative;
    border: 3px solid $textcolor;
    margin-left: 20px;
    margin-right: 5px;
    &:before {
      border: 3px solid $subcolor;
      background: url(http://www.graphicartsunit.com/images/noise2.png);
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }

  .button:hover {
      text-decoration: none;
      color: $keycolor;
  }

  .nav-button {
    border-radius: 5px;
    &:before {
      border-radius: 5px;
      left: 7px;
      top: 5px;
    }
  }

  .nav-comp-button {
    border-radius: 5px;
    &:before {
      border-radius: 5px;
      left: 7px;
      top: 5px;
    }
  }
  
  .navbar-brand {
    // font-family: 'Permanent Marker';
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 5rem;
    color: #f0f5f9;
    margin-top: 5px;
  }

  .navbar-default .navbar-brand:hover {
    color: $textcolor;
  }
  
  .navbar-default .navbar-brand {
      color: $textcolor;
  }
  
  .navbar-default .navbar-nav>li>a {
      color: $textcolor;
  }

  .content-container {
    position: relative;
    // background-color: white;
    padding-left: 5%;
    padding-right: 5%;
    //padding-top: 2%;
    margin: auto;
    width: 85%;
    top: 20%;
  }

  .post {
      //border: 2px solid black;
      //border-radius: 5px;
      //box-shadow: 2px 2px 8px #888888;
      margin-bottom: 10px;
      margin-top: 30px;
      padding-left: 2%;
      padding-right: 2%;
      padding-bottom: 2%;
  }

  .navbar-brand.button.nav-button {
      border: none;
  }

  .brand-heading{
    position: absolute;
    top: 43%;
    left: 25%;
    font-family: 'Montserrat', sans-serif;
    transform: translate(-50%, -50%);
    font-size:5em;
      letter-spacing:0.1em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
    text-shadow: 
                          // 5px 5px $accentcolor,
                          3px 3px $textcolor;
  }
  
  body {
    background-color: $lightcolor;
    font-size: 18px;
  }
  
  p {
    font-family: 'Raleway', sans-serif;
    color: $textcolor;
    font-size: 0.9em;
  }
  
  h1 {
    color: $textcolor;
    font-weight: bold;
  }

.fullstop {
  font-family: 'Lobster';
  font-size: 1.1em;
  color: $accentcolor;
}

.divider {
  border: 1px solid $textcolor;
  width: 10%;
  height: 1px;
  margin: auto;
  border-radius: 5px;
}

.container-body {
  margin-top: 120px;
}

@media screen and (max-width: 992px) {
  .navbar-default .navbar-brand {
    font-size: 2.7em;
}
}

u {
  text-decoration: none;
  border-bottom: 5px solid $accentcolor;
}

.our-song-container {
  margin: auto;
  width: 80%;
}

.compose-container {
  margin: auto;
  width: 80%;
}



  